@media (max-width: 480px) {

    #showcase .features_op1_row .feature

    {

        margin-bottom:60px;

    }

    

    #showcase .features_op1_row .last

    { 

        margin-bottom:0;

    }

    

    #showcase .features_op1_row .feature .img_box

    {

        text-align:center;

    }

    

    #showcase .features_op1_row .feature .text h6

    {

        text-align:left;

    }

    

    #showcase .features_op1_row .feature .img_box span.circle

    {

        left:44%;

    }

    

    #showcase .features_op1_row .feature:hover .img_box

    {

        box-shadow:none;

    }

    

    .address

    {

        left:0;

    }


}



    




