## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive off
ExpiresByType text/html "access 0 week"
ExpiresByType application/pdf "access 0 week"
ExpiresByType text/x-javascript "access 0 week"
ExpiresDefault "access 0 week"
</IfModule>


#AuthType Basic
#AuthName "midlandsmarqueehire"
#AuthUserFile /home/chillyjenna/public_html/midlandsmarqueehire.com/admin/.htpasswd
#Require valid-user

